---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Q&A">
	<main class="grid md:grid-cols-2 p-2 mt-2">
		<div
			class="max-sm:absolute max-sm:top-0 max-sm:-z-20 max-sm:opacity-60"
		>
			<img
				src="favicon.png"
				alt="Logo"
				class="fixed top-2 left-4 max-w-[100px]"
			/>
			<img src="character.png" class="h-screen w-full object-contain" />
		</div>
		<div class="grid place-items-center max-sm:h-screen">
			<div
				class="bg-white m-10 p-4 max-h-4/5 w-3/5 rounded-lg
			before:absolute before:-top-10 before:right-0 before:w-32 before:h-40 before:bg-violeta/30 before:-z-10 before:rounded-md after:absolute after:-bottom-4 after:left-[50%] after:w-[45%] after:h-40 after:bg-violeta/30 after:-z-10 after:rounded-md max-sm:m-6 max-sm:w-4/5 max-sm:h-3/4"
			>
				<div
					class="absolute top-0 left-[10%] w-[40%] h-40 bg-violeta/30 -z-10 rounded-md"
				>
				</div>
				<h1 class="text-lg text-center font-bold">
					Envia tu duda o una pregunta
				</h1>
				<span class="text-xs opacity-60 text-center block"
					>¡No te quedes con la duda nunca más!</span
				>

				<form
					action="https://formsubmit.co/chrisjoseph380@gmail.com"
					method="POST"
					enctype="multipart/form-data"
				>
					<div class="flex flex-col">
						<label for="fullname" class="font-semibold my-1"
							>Nombre completo</label
						>
						<input
							type="text"
							placeholder="John Doe"
							name="Nombre"
							class="outline-none bg-gray-300 rounded-md py-1 box-border pl-2"
						/>
					</div>
					<div class="flex flex-col">
						<label for="fullname" class="font-semibold my-1"
							>Duda o pregunta</label
						>
						<textarea
							id="textarea"
							placeholder=`Introduce tu duda o pregunta. Desglosa lo más que puedas toda la informacion que creas necesaria.`
							title="Pega tus imagenes desde el portapapeles"
							rows="5"
							name="Pregunta o duda del usuario"
							class="outline-none bg-gray-300 rounded-md py-1 box-border pl-2 resize-none rounded-b-none"
						></textarea>
						<div
							id="scroll-images"
							class="rounded-b-md bg-gray-400 h-14 overflow-x-scroll flex gap-2 p-2 scrollbar-thin scrollbar-thumb-violeta scrollbar-thumb-rounded-md"
						>
						</div>
					</div>
					<label
						for="file"
						class="h-12 items-center justify-center text-lg leading-7 opacity-100 bg-naranja w-full mt-2 rounded-lg font-bold text-white cursor-pointer hover:scale-95 hover:opacity-90 transition-transform flex"
						>Subir imagenes</label
					>
					<input
						type="file"
						accept="image/*"
						hidden
						name="Images"
						id="file"
						multiple
					/>
					<button
						type="submit"
						class="h-12 flex justify-self-end items-center justify-center text-lg leading-7 opacity-100 bg-violeta w-full mt-2 rounded-lg font-bold text-white"
						>Enviar</button
					>
					<input type="hidden" name="_template" value="box" />
					<input type="hidden" name="_captcha" value="false" />
					<input
						type="hidden"
						name="_next"
						value="https://qandad2.vercel.app/thanks"
					/>
				</form>
			</div>
		</div>
	</main>
</Layout>

<style></style>

<script>
	const $ = (el) => document.querySelector(el);

	$("#textarea").addEventListener("paste", async () => {
		const clipboardItems = await navigator.clipboard.read();

		for (const clipboardItem of clipboardItems) {
			for (const type of clipboardItem.types) {
				const blob = await clipboardItem.getType("image/png");
				// we can now use blob here
				const url = window.URL.createObjectURL(blob);
				const img = document.createElement("img");
				img.src = url;
				img.className = "screenshot w-18 object-contain rounded-md";
				document.getElementById("scroll-images").appendChild(img);
			}
		}
	});

	$("#file").onchange = (e) => {
		const [file] = $("#file").files;
		if (file) {
			const img = document.createElement("img");
			img.src = URL.createObjectURL(file);
			img.className = "screenshot w-18 object-contain rounded-md";
			document.getElementById("scroll-images").appendChild(img);
		}
	};
</script>
