---
import "@fontsource-variable/lexend";
import "@fontsource-variable/manrope";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Q&A | Your app for resolve your questions."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta property="og:url" content="https://qandad2.vercel.app" />
		<meta property="og:image" content="https://qandad2.vercel.app/1.png" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-azul/50">
		<slot />
	</body>
</html>
<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		font-family: "Manrope Variable", sans-serif;
		overflow: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Lexend Variable", sans-serif;
	}
</style>
